.videobanner {
    display: flex;
    position: relative;
    flex-direction: column;
}

.videobanner__box {
    text-align: center;
}

@media only screen and (max-width: 749px) {
    .videobanner--content-align-mobile-right .videobanner__box {
        text-align: right;
    }

    .videobanner--content-align-mobile-left .videobanner__box {
        text-align: left;
    }
}

@media only screen and (min-width: 750px) {
    .videobanner--content-align-right .videobanner__box {
        text-align: right;
    }

    .videobanner--content-align-left .videobanner__box {
        text-align: left;
    }

    .videobanner--content-align-left.videobanner--desktop-transparent .videobanner__box,
    .videobanner--content-align-right.videobanner--desktop-transparent .videobanner__box,
    .videobanner--medium.videobanner--desktop-transparent .videobanner__box {
        max-width: 68rem;
    }
}

@media screen and (max-width: 749px) {
    .videobanner--small.videobanner--mobile-bottom:not(.videobanner--adapt) .videobanner__media,
    .videobanner--small.videobanner--stacked:not(.videobanner--mobile-bottom):not(.videobanner--adapt) > .videobanner__media {
        height: 28rem;
    }

    .videobanner--medium.videobanner--mobile-bottom:not(.videobanner--adapt) .videobanner__media,
    .videobanner--medium.videobanner--stacked:not(.videobanner--mobile-bottom):not(.videobanner--adapt) > .videobanner__media {
        height: 34rem;
    }

    .videobanner--large.videobanner--mobile-bottom:not(.videobanner--adapt) .videobanner__media,
    .videobanner--large.videobanner--stacked:not(.videobanner--mobile-bottom):not(.videobanner--adapt) > .videobanner__media {
        height: 39rem;
    }

    .videobanner--small:not(.videobanner--mobile-bottom):not(.videobanner--adapt) .videobanner__content {
        min-height: 28rem;
    }

    .videobanner--medium:not(.videobanner--mobile-bottom):not(.videobanner--adapt) .videobanner__content {
        /*     min-height: 34rem; */
    }

    .videobanner--large:not(.videobanner--mobile-bottom):not(.videobanner--adapt) .videobanner__content {
        /*     min-height: 39rem; */
    }
}

@media screen and (min-width: 990px) {
    .videobanner {
        flex-direction: row-reverse;
        /*     flex-direction: row; */
        margin-bottom: 7.5rem;
    }
}

@media screen and (min-width: 750px) {
    .videobanner--small:not(.videobanner--adapt) {
        min-height: 42rem;
    }

    .videobanner--medium:not(.videobanner--adapt) {
        min-height: 56rem;
    }

    .videobanner--large:not(.videobanner--adapt) {
        min-height: 72rem;
    }

    .videobanner__content.videobanner__content--top-left {
        align-items: flex-start;
        justify-content: flex-start;
    }

    .videobanner__content.videobanner__content--top-center {
        align-items: flex-start;
        justify-content: center;
    }

    .videobanner__content.videobanner__content--top-right {
        align-items: flex-start;
        justify-content: flex-end;
    }

    .videobanner__content.videobanner__content--middle-left {
        align-items: center;
        justify-content: flex-start;
    }

    .videobanner__content.videobanner__content--middle-center {
        align-items: center;
        justify-content: center;
    }

    .videobanner__content.videobanner__content--middle-right {
        align-items: center;
        justify-content: flex-end;
    }

    .videobanner__content.videobanner__content--bottom-left {
        align-items: flex-end;
        justify-content: flex-start;
    }

    .videobanner__content.videobanner__content--bottom-center {
        align-items: flex-end;
        justify-content: center;
    }

    .videobanner__content.videobanner__content--bottom-right {
        align-items: flex-end;
        justify-content: flex-end;
    }
}

@media screen and (max-width: 749px) {
    .banner:not(.videobanner--stacked) {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .videobanner--stacked {
        height: auto;
    }

    .videobanner--stacked .videobanner__media {
        flex-direction: column;
    }
}

/* .videobanner__media {
  height: 100%;
} */

.videobanner__media > video {
  object-fit: cover;
}

.videobanner__media-half {
    width: 50%;
}

.videobanner__media-half + .videobanner__media-half {
    right: 0;
    left: auto;
}

@media screen and (max-width: 749px) {
    .videobanner--stacked .videobanner__media-half {
        width: 100%;
    }

    .videobanner--stacked .videobanner__media-half + .videobanner__media-half {
        order: 1;
    }
}

@media screen and (min-width: 750px) {
    .videobanner__media {
        height: 100%;
    }
}

.videobanner--adapt,
.videobanner--adapt_image.videobanner--mobile-bottom .videobanner__media:not(.placeholder) {
    height: auto;
}

@media screen and (max-width: 749px) {
    .videobanner--mobile-bottom .videobanner__media,
    .videobanner--stacked:not(.videobanner--mobile-bottom) .videobanner__media {
        position: relative;
    }

    .videobanner--stacked.videobanner--adapt .videobanner__content {
        height: auto;
    }

    /*   .banner:not(.videobanner--mobile-bottom):not(.email-signup-banner) .videobanner__box {
        background-color: transparent;
        --color-foreground: 255, 255, 255;
        --color-button: 255, 255, 255;
        --color-button-text: 0, 0, 0;
      } */

    .banner:not(.videobanner--mobile-bottom) .videobanner__box {
        border: none;
        border-radius: 0;
        box-shadow: none;
    }

    .banner:not(.videobanner--mobile-bottom) .button--secondary {
        --color-button: 255, 255, 255;
        --color-button-text: 255, 255, 255;
        --alpha-button-background: 0;
    }

    .videobanner--stacked:not(.videobanner--mobile-bottom):not(.videobanner--adapt)
    .videobanner__content {
        position: absolute;
        height: auto;
    }

    .videobanner--stacked.videobanner--adapt:not(.videobanner--mobile-bottom) .videobanner__content {
        max-height: 100%;
        overflow: hidden;
        position: absolute;
    }

    .videobanner--stacked:not(.videobanner--adapt) .videobanner__media {
        position: relative;
    }

    .banner::before {
        display: none !important;
    }

    .videobanner--stacked .videobanner__media-image-half {
        width: 100%;
    }
}

.videobanner__content {
    padding: 0;
    display: flex;
    position: relative;
    width: 100%;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

@media screen and (min-width: 750px) {
    .videobanner__content {
        padding: 5rem;
    }

    .videobanner__content--top-left {
        align-items: flex-start;
        justify-content: flex-start;
    }

    .videobanner__content--top-center {
        align-items: flex-start;
        justify-content: center;
    }

    .videobanner__content--top-right {
        align-items: flex-start;
        justify-content: flex-end;
    }

    .videobanner__content--middle-left {
        align-items: center;
        justify-content: flex-start;
    }

    .videobanner__content--middle-center {
        align-items: center;
        justify-content: center;
    }

    .videobanner__content--middle-right {
        align-items: center;
        justify-content: flex-end;
    }

    .videobanner__content--bottom-left {
        align-items: flex-end;
        justify-content: flex-start;
    }

    .videobanner__content--bottom-center {
        align-items: flex-end;
        justify-content: center;
    }

    .videobanner__content--bottom-right {
        align-items: flex-end;
        justify-content: flex-end;
    }
}

@media screen and (max-width: 749px) {
    .videobanner--mobile-bottom:not(.videobanner--stacked) .videobanner__content {
        order: 2;
    }

    .banner:not(.videobanner--mobile-bottom) .field__input {
        background-color: transparent;
    }
}

.videobanner__box {
    padding: 4rem 3.5rem;
    position: relative;
    height: fit-content;
    align-items: center;
    text-align: center;
    width: 100%;
    word-wrap: break-word;
    z-index: 1;
}

@media screen and (min-width: 750px) {
    .videobanner--desktop-transparent .videobanner__box {
        /*     background-color: transparent;
            --color-foreground: 255, 255, 255;
            --color-button: 255, 255, 255;
            --color-button-text: 0, 0, 0; */
        max-width: 89rem;
        border: none;
        border-radius: 0;
        box-shadow: none;
    }

    .videobanner--desktop-transparent .button--secondary {
        --color-button: 255, 255, 255;
        --color-button-text: 255, 255, 255;
        --alpha-button-background: 0;
    }

    .videobanner--desktop-transparent .content-container:after {
        display: none;
    }
}

@media screen and (max-width: 749px) {
    .videobanner--mobile-bottom::after,
    .videobanner--mobile-bottom .videobanner__media::after {
        display: none;
    }
}

.banner::after,
.videobanner__media::after {
    content: '';
    position: absolute;
    top: 0;
    background: #000000;
    opacity: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
}

.videobanner__box > * + .videobanner__text {
    margin-top: 1.5rem;
}

@media screen and (min-width: 750px) {
    .videobanner__box > * + .videobanner__text {
        margin-top: 2rem;
    }
}

.videobanner__box > * + * {
    margin-top: 1rem;
}

.videobanner__box > *:first-child {
    margin-top: 0;
}

@media screen and (max-width: 749px) {
    .videobanner--stacked .videobanner__box {
        width: 100%;
    }
}

@media screen and (min-width: 750px) {
    .videobanner__box {
        width: auto;
        max-width: 71rem;
        min-width: 45rem;
    }
}

@media screen and (min-width: 1400px) {
    .videobanner__box {
        max-width: 90rem;
    }
}

.videobanner__heading {
    margin-bottom: 3rem;
}
  

.videobanner__heading p {
  margin-top: 0;
  margin-bottom: 0;
  line-height: .825;
/*   text-transform: uppercase; */
}

.videobanner__heading p strong {
  color: orange;
  font-weight: normal;
}
  
.videobanner__text {
  line-height: 1.666;
  margin-right: auto;  
  margin-bottom: 3rem;
  margin-left: auto;
  max-width: 400px;
}
  
.videobanner__richtext {
  margin-right: auto;
  margin-left: auto;
  max-width: 400px;
}
  
.videobanner__richtext p {
  margin-top: 0;
  margin-bottom: 0;
  text-align: left;
  line-height: normal;
  position: relative;
  padding-left: 20px;
}
  
.videobanner__richtext p:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #333;
  position: absolute;
  top: 7px;
  left: 0;
}

.videobanner__box .videobanner__heading + * {
    margin-top: 1rem;
}

.videobanner__buttons {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 1rem;
    max-width: 45rem;
    word-break: break-word;
}

@media screen and (max-width: 749px) {

    .videobanner__media {
        height: 100vw;
        position: relative;
        width: 100%;
    }

    .videobanner__media > video {
      position: absolute;
      top: 50% !important;
      left: 0;
      width: 100%;
      height: auto !important;
      transform: translateY(-50%);
    }

    .videobanner--content-align-mobile-right .videobanner__buttons--multiple {
        justify-content: flex-end;
    }

    .videobanner--content-align-mobile-center .videobanner__buttons--multiple > * {
        flex-grow: 1;
        min-width: 22rem;
    }
}

@media screen and (min-width: 750px) {
    .videobanner--content-align-center .videobanner__buttons--multiple > * {
        flex-grow: 1;
        min-width: 22rem;
    }

    .videobanner--content-align-right .videobanner__buttons--multiple {
        justify-content: flex-end;
    }

    .videobanner__media {
      position: relative;
      top: auto;
      right: auto;
      bottom: 0;
      left: auto;
      height: auto;
      min-height: 48rem;
      width: 100%;
    }

    .videobanner__media > video {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
/*       height: auto !important; */
    }
}

.videobanner__box > * + .videobanner__buttons {
    margin-top: 4.25rem;
}